<main>
        {{#if errorMessage}}
        <div class="user-message user-message--error" >{{errorMessage}}</div>
        {{/if}}
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" value='{{csrfToken}}' name='_csrf'>
            <input type="hidden" value='{{userId}}' name='userId'>
            <button class="btn" type="submit">Update Password</button>
        </form>
</main>
