<!DOCTYPE html>
<html lang="en">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
{{> _header}}
<body>
    {{> _nav}}
    {{{ body }}}

        <script src="/js/chat.js"></script>
</body>

</html>